*{
	margin:0;
	padding:0;
	font-family: sans-serif;

}
body{
	background-color: #e7d4b5;
	width:1730px;
	height:1652px;
	
}
.header-top{
	padding:80px 0 0 80px;
}
.header-top button{
	width:170px;
	height:51px;
	text-align: center;
	border-radius: 7px;
	color:white;
	font-weight: 600;
}
.header-top .b11{
	background-color:#db5565;
	margin-right: 30px;
}
.header-top .b12{
	background-color:#f4ad49;
	margin-right: 30px;
}
.header-top .b13{
	background-color:#51bf87;
	margin-right: 30px;
}
.header-top .b14{
	background-color:#0bacd3;
	margin-right: 30px;
}
.header-top .b15{
	background-color:#db5565;
	margin-right: 30px;
}
.header-top .b15 i{
	font-size:20px;
	padding-left: 45px;
}
.header-top .b16{
	background-color:#f4ad49;
	margin-right: 30px;
}
.header-top .b16 i{
	font-size:20px;
	padding-left: 30px;
}
.header-top .b17{
	background-color:#51bf87;
	margin-right: 30px;
}
.header-top .b17 i{
	font-size:20px;
	padding-left: 30px;
}
.header-top .b18{
	background-color:#0bacd3;
}
.header-top .b18 i{
	font-size:20px;
	padding-left: 45px;
}

.header-second{
	padding:20px 0 0 80px;
}
.header-second button{
	width:170px;
	height:51px;
	text-align: center;
	border-radius: 7px;
	color:white;
	font-weight: 600;
}
.header-second .b21{
	background-color: #df6a78;
	margin-right: 30px;
}

.header-second .b22{
	background-color: #f5b75f;
	margin-right: 30px;
}

.header-second .b23{
	background-color: #66c796;
	margin-right: 30px;
}

.header-second .b24{
	background-color: #29b6d8;
	margin-right: 30px;
}

.header-second .b25{
	background-color: #df6a78;
	margin-right: 30px;
}
.header-second .b25 i{
	font-size:20px;
	padding-left: 30px;
}
.header-second .b26{
	background-color: #f5b75f;
	margin-right: 30px;
}
.header-second .b26 i{
	font-size:20px;
	padding-left: 30px;
}
.header-second .b27{
	background-color: #66c796;
	margin-right: 30px;
}
.header-second .b27 i{
	font-size:20px;
	padding-left: 30px;
}
.header-second .b28{
	background-color: #29b6d8;
}
.header-second .b28 i{
	font-size:20px;
	padding-left: 30px;
}

.header-third{
	padding:20px 0 0 80px;
	
}
.header-third button{
	width:170px;
	border-radius: 7px;
	color:white;
	font-weight: 600;
}

.header-third .b31{
	background-color: #c04b59;
	margin-right:30px;
	height:51px;
}
.header-third .b32{
	background-color: #d69840;
	margin-right:30px;
	height:51px;
}
.header-third .b33{
	background-color: #47a877;
	margin-right:30px;
	height:51px;
}
.header-third .b34{
	background-color: #0a97b9;
	margin-right:30px;
	height:51px;
}
.header-third ul{
	list-style: none;
}
.header-third .b35{
	background-color: #c04b59;
	margin-right:30px;
	height:182px;
}
.header-third .b35 li{
	padding: 14px 10px;
	text-align: left;
}
.header-third .b35 ul i{
	font-size:20px;
	padding-left: 35px;
}
.header-third .b35 .third{
	background-color: #cd6f7a;
}
.header-third .b36{
	background-color: #d69840;
	margin-right: 30px;
	height:182px;
}
.header-third .b36 li{
	padding: 14px 10px;
	text-align: left;
}
.header-third .b36 ul i{
	font-size:20px;
	padding-left: 35px;
}
.header-third .b36 .third{
	background-color: #dead66;
}
.header-third .b37{
	background-color: #47a877;
	margin-right: 30px;
	height:182px;
}
.header-third .b37 li{
	padding: 14px 10px;
	text-align: left;
}
.header-third .b37 ul i{
	font-size:20px;
	padding-left: 35px;
}
.header-third .b37 .third{
	background-color: #6cb992;
}
.header-third .b38{
	background-color: #0a97b9;
	height:182px;
}
.header-third .b38 li{
	padding: 14px 10px;
	text-align: left;
}
.header-third .b38 ul i{
	font-size:20px;
	padding-left: 35px;
}
.header-third .b38 .third{
	background-color: #3bacc7;
}

.form{
	padding:37px 0 0 30px;
	width:780px;
	height: 334px;
	background-color: #fbf8f1;
	border-radius: 10px;
	margin-left: 80px;
	float:left;
	box-sizing: border-box;
	margin-top:-90px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 38px;
}

.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf8f1;
  -webkit-transition: .4s;
  transition: .4s;
  border:2px solid #dbd1ce;
  border-radius: 7px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 3px;
  top:3px;
  background-color: #aa9699;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

input:checked + .slider {
  background-color:#fbf8f1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 38px;
  margin-right: 18px;
}

.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fbf8f1;
  -webkit-transition: .4s;
  transition: .4s;
  border:2px solid #dbd1ce;
  border-radius: 7px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 3px;
  top:3px;
  background-color: #aa9699;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

input:checked + .slider {
  background-color:#fbf8f1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.social{
	width:170px;
	box-sizing: border-box;
	float:left;
	margin-left:40px;
	margin-top: 36px;
}
.social .follow{
	background-color: #fbf8f1;
	width: 170px;
	height:54px;
	border-radius: 7px;
}
.social .follow h3{
	text-align: center;
	padding:19px 0;
	font-size: 17px;
	opacity:0.9;
}
.social .icons{
	width:170px;
	height: 142px;
	background-color: #fbf8f1;
	border-radius: 7px;
	margin-top:8px;
	padding-left: 35px;
	padding-top: 23px;
	box-sizing: border-box;
}
.social .icons button{
	width: 40px;
	height: 40px;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 7px;
}
.social .icons .b1{
	background-color: #00aced;
}
.social .icons .b2{
	background-color: #3b5998;
}
.social .icons .b3{
	background-color: #dd4b39;
}
.social .icons .b4{
	background-color: #ed4956;
}
.social .icons i{
	color:white;
	font-size: 18px;
	font-weight: 500;
}
.line{
	width:575px;
	height:79px;
	background-color: #fbf8f1;
	box-sizing: border-box;
	float:left;
	border-radius: 7px;
	margin:35px;
}
.line li{
	float:left;
	list-style: none;
	

}
.line ul .summer{
	color:#f4ad49;
	font-size: 19px;
	font-weight: 600;
	border-right: 1px solid grey;
	margin:30px 27px 30px 33px;
	padding-right: 26px;
}
.line ul .wave{
	font-size: 18px;
	font-weight: 600;
	border-right: 1px solid grey;
	margin-top: 30px;
	padding-right: 26px;
	color: #64414e;
}
.line ul .sun{
	font-size: 18px;
	font-weight: 600;
	border-right: 1px solid grey;
	margin-top: 30px;
	padding-right: 26px;
	padding-left: 26px;
	color: #64414e;
}
.line ul .star{
	font-size: 18px;
	font-weight: 600;
	border-right: 1px solid grey;
	margin-top: 30px;
	padding-right: 26px;
	padding-left: 26px;
	color: #64414e;
}
.line ul i{
	color:#aa9699;
	font-size: 20px;
	margin-top: 30px;
	padding-left: 26px;
}
.road{
	width:571px;
	height:427px
	background-color:#f4ad49;
}

.chat{
	width:570px;
	height: 549px;
	float:left;
	border-radius: 7px;
	box-sizing: border-box;
	background-color: #fbf8f1;
	margin-left: 35px;
	border-top: 6px solid #f7b251;

}	
.chat .photo{
	width:570px;
	height: 303px;
	background-image: url(../chat.jpg);
	background-size: cover;
	border-radius: 7px 7px 0px 0px;
}
.chat .photo .girl-photo1{
	width:60px;
	height:60px;
	border-radius:50%;
	background-image: url(../girlchat.jpg);
	background-size: cover;
	float:left;
	margin-top:40px;
	margin-left:5px;
}
.chat .photo .chat-text1{
	width:256px;
	height: 62px;
	border-radius: 7px 7px 0px 7px;
	background-color: #51bf87;
	color:white;
	text-align: left;
	box-sizing: border-box;
	padding-top:15px;
	float:left;
	margin-top:40px;
	margin-left: 220px;
	font-size: 14px;
	padding-left: 18px;
}
.cleaner{
	clear:both;
}
.chat .photo .time1{
	font-size: 12px;
	font-weight:600;
	color:#b19e9a;
	float:right;
	margin-right:82px;
	margin-top:11px; 
}
.chat .photo .guy-photo2{
	width:60px;
	height:60px;
	border-radius:50%;
	background-image: url(../guychat.jpg);
	background-size: cover;
	float:left;
	margin-top:13px;
	margin-left: 29px;
	margin-right:5px;
}
.chat .photo .chat-text2{
	width:256px;
	height: 62px;
	border-radius: 7px 7px 7px 0px;
	background-color: #51bf87;
	color:white;
	text-align: left;
	box-sizing: border-box;
	padding-top:15px;
	float:left;
	font-size: 14px;
	margin-top:13px;
	padding-left: 17px;
}
.cleaner{
	clear:both;
}
.chat .photo .time2{
	font-size: 12px;
	font-weight:600;
	color:#b19e9a;
	margin-left:82px;
	margin-top:11px; 
}
.chat .photo{
	width:570px;
	height: 303px;
	background-image: url(../chat.jpg);
	background-size: cover;
	border-radius: 7px 7px 0px 0px;
}
.chat .photo .girl-photo3{
	width:60px;
	height:60px;
	border-radius:50%;
	background-image: url(../girlchat.jpg);
	background-size: cover;
	float:left;
	margin-top: -15px;
	margin-left:5px;
}
.chat .photo .chat-text3{
	width:198px;
	height: 39px;
	border-radius: 7px 7px 0px 7px;
	background-color: #51bf87;
	color:white;
	text-align: left;
	box-sizing: border-box;
	padding-top:12px;
	float:left;
	margin-left: 280px;
	font-size: 14px;
	padding-left: 17px;
}
.cleaner{
	clear:both;
}
.chat .photo .time3{
	font-size: 12px;
	font-weight:600;
	color:#b19e9a;
	float:right;
	margin-right:82px;
	margin-top: 8px;
}

.cleaner{
	clear:both;
}

.chat .form{
	background-color: #fbf8f1;
	width:570px;
	height: 140px;
	box-sizing: border-box;
	margin-top: 0px;
	margin-left:0px;
}
.chat .form textarea{
	width:380px;
	height: 100px;
	color:#593442;
	border-radius: 5px;
	box-sizing: border-box;
	padding:20px;
	float:left;
	font-size: 15px;
	margin-bottom: 0px;
}
.chat .form .link{
	float:left;
}
.chat .form .link i{
	transform:rotateY(180deg);
	color:#af9fa1;
	font-size: 20px;
	margin:40px 5px 0px 5px;
}
.chat .form .image{
	margin-left:5px;
	border:4px solid white;
	width:92px;
	height: 92px;
	float:left;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #d6d3cd;
	margin-bottom: 0px;
}
.chat .bottom{
	width:570px;
	height: 100px
	box-sizing:border-box;
}
.chat .bottom button{
	background-color: #e15868;
	width:170px;
	height: 52px;
	border-radius: 7px;
	font-size: 13px;
	color:white;
	font-weight: 600;
	margin-top: 19px;
	margin-left: 30px;
}
.chat .bottom .attach{
	float:right;
	margin-top:30px;
	margin-right: 30px;
}
.chat .bottom .attach h3{
	float:left;
	font-size:13px;
	color:#aa9699;
	margin-top:9px;
}
.chat .bottom .attach .circle{
	width:30px;
	height: 30px;
	border-radius: 50%;
	border:2px solid #aa9699;
	float:left;
	text-align: center;
	margin-left:10px;
}
.chat .bottom .attach .circle i{
	color:#aa9699;
	font-size: 20px;
	margin-top:6px;
}

.road{
	width:571px;
	height: 427px;
	box-sizing: border-box;
	margin-left: 80px;
	border-radius: 7px;
	margin-top:-400px;
	background-image: url(../roadrute.jpg);
	background-size: cover;
	float:left;
}
.road .text{
	padding-top: 350px;
	padding-left: 30px;
}
.road .text h3 i{
	color:white;
	font-size: 18px;
}
.road .text h3{
	font-size: 18px;
	color:white;
	font-weight: 600;
	padding-bottom: 5px;
}	
.road .text h4{
	font-size: 12px;
	color:white;
}

.road .circle{
	background-color: #f4ad49;
	width:80px;
	height:80px;
	border-radius: 50%;
	margin-top:-200px;
	margin-left:243px;
	box-shadow: 2px 2px 2px 2px grey;
	box-sizing: border-box;
}
.road .circle i{
	color:white;
	font-size: 40px;
	margin-left:21px;
	padding-top:19px;
}

.logacc{
	float:left;
	box-sizing: border-box;
	width:370px;
	height:600px;
	margin-top:-246px;
	border-radius: 7px;
	margin-left:22px;
	display:block;
}	
.logacc .main{
	width:370px;
	height:480px;
	display:block;
	box-sizing: border-box;
	margin-top:-174px;
	margin-left:20px;
}
.logacc .main .img{
	background-image: url(../image.jpg);
	background-size:cover;
	width:370px;
	height:216px;
	border-radius: 5px 5px 0px 0px;
}
.logacc .main .img .account ul{
	margin:20px;
	box-sizing: border-box;
}
.logacc .main .img .account li{
	list-style: none;
	color:white;
	float:left;
	font-size: 11px;
	margin-top:20px;
	opacity:0.5;
}
.logacc .main .img .account ul i{
	padding-right: 5px;
}
.logacc .main .img .account ul .h3{
	font-weight: 500;
}

.logacc .main .img .icon{
	width:38px;
	height:45px;
	float:right;
	background-color:white;
	border-radius:0px 0px 25px 25px;
	margin-right: 19px;
	opacity:0.4;

}
.logacc .main .img .icon i{
	text-align: center;
	padding:8px 4px 1px 4px;
	font-size: 34px;
	color:#735c7a;
	opacity:0.7;
}

.logacc .main .img .login{
	box-sizing: border-box;
	padding-top:74px;
	text-align:center;
	
}
.logacc .main .img .login ul li{
	list-style: none;
	color:white;
	opacity:0.9;
}
.logacc .main .img .login .log{
	font-size: 35px;
	
}
.logacc .main .img .login .to{
	font-size: 10px;
	padding-bottom: 3px;
	line-height: 0.4;
  	
}
.logacc .main .img .login .to span{
	display: inline-block;
  	position: relative; 
}
.logacc .main .img .login .to span:before,
.logacc .main .img .login .to span:after{
	content: "";
 	position: absolute;
 	height: 3px;
  	border-bottom: 1px solid white;
  	border-top: 1px solid white;
  	top: 0;
 	width: 57px;
}
.logacc .main .img .login .to span:before{
	right: 100%;
  	margin-right: 5px;
}
.logacc .main .img .login .to span:after{
	left: 100%;
  	margin-left:5px;
}

.logacc .main .img .login .acc{
	font-size: 17px;
}
.logacc .main .form{
	background-color:#fbf8f1;
	width:370px;
	height:260px;
	border-radius:0px 0px 5px 5px;
	margin:0;
}
.logacc .main .form input{
	width:310px;
	height:50px;
		
}
.logacc .main .form .e-mail{
	border-radius:5px 5px 0px 0px;
}
.logacc .main .form .password{
	border-radius:0px 0px 5px 5px;
}
.logacc .main .form button{
	width:310px;
	height:55px;
	background-color: #f4ad49;
	border-radius: 5px;
	margin-top:18px;
	color:white;
	font-size:15px;
	font-weight: 600;
}
.logacc .main .form h6{
	margin-top:15px;
	opacity:0.6;
	text-align: center;
}
.logacc .social{
	margin-top:7px;
	box-sizing: border-box;
	background-color:#fbf8f1;
	width:370px;
	height:71px;
	margin-left: 20px;
	border-radius: 5px;
}
.logacc .social .tw{
	width:116px;
	height:40px;
	margin-right: 12px;
	border-radius: 5px;
	margin-left:63px;
	margin-top:15px;
	font-weight: 600;
	opacity:0.7;
}
.logacc .social .tw i{
	font-size: 20px;
}
.logacc .social .fb{
	width:116px;
	height:40px;
	border-radius: 5px;
	font-weight: 600;
	opacity:0.7;
}
.logacc .social .fb i{
	font-size: 20px;
}

.both{
	width:570px;
	height:445px;

}
.mini_layout{
	width: 370px;
	height: 400px;
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
	margin-left: 80px;
	margin-top: 810px;
	box-sizing: border-box;
	border-radius: 5px;
}
.mini_layout .nav{
	float: left;
	width: 100px;
	height: 100%;
	margin-top:-242px;
}
.mini_layout .content{
	float: left;
	width: calc(100% - 100px);
	margin-top:-242px;
}
.mini_layout .nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
    z-index: 1;
}
.mini_layout .nav ul li{
	width: 100%;
	height: 25%;
	position: relative;
	overflow: hidden;
}
.mini_layout .nav ul li.green:before{
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 21px;
    position: absolute;
    right: -7px;
    width: 8px;
    height: 18px;
    line-height: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #47a877;
}
.mini_layout .nav ul li:first-child{
	border-top-left-radius: 5px;
}
.mini_layout .nav ul li:last-child{
	border-bottom-left-radius: 5px;
}
.mini_layout .nav .red{
	background: #db5565;
}
.mini_layout .nav .orange{
	background: #f4ad49;
}
.mini_layout .nav .green{
	background: #47a877;
}
.mini_layout .nav .blue{
	background: #0bacd3;
}
.mini_layout .nav ul li a{
	text-decoration: none;
}
.mini_layout .nav ul li span{
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 70px;
    top: 10px;
    left: -10px;
}
.mini_layout .nav ul li h2{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	line-height: 100px;
}
.mini_layout .content_top{
	width: 100%;
	height: 200px;
	position: relative;
}
.mini_layout .content .content_top .img{
	width: 270px;
	height: 200px;
	background-image:url(../tropical.jpg);
	border-top-right-radius: 5px;
}
.mini_layout .content_top span{
	position: absolute;
	right: 16px;
	top: 16px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 28px;
}
.mini_layout .content_bottom{
	float: left;
	width: 100%;
	height: calc(100% - 200px);
	background: #fbf8f1;
	box-sizing: border-box;
	padding: 22px;
	border-bottom-right-radius: 5px;
}
.mini_layout .content_title{
	margin: 0px;
	color: #593442;
	font-size: 22px;
}
.mini_layout .content_bottom p{
    margin: 24px 0px 0px 0px;
    color: rgba(89, 52, 66, 0.5);
    font-size: 15px;
    line-height: 21px;
}

.amsterdam{
	width: 170px;
	height: 445px;
	box-sizing: border-box;
	float:right;
	margin-top:-445px;
	margin-right:-85px;
}
.amsterdam .img{
	width:100%;
	height: 170px;
	background-image: url(../amsterdam.jpg);
	border-radius: 7px 7px 0 0;
}
.amsterdam .card{
	width:100%;
	height: 65px;
	box-sizing: border-box;
	background-color: #eee9e3;
}
.amsterdam .card li{
	list-style: none;
	text-align: center;
}
.amsterdam .card ul .word1{
	color:#db5565;
	font-size: 17px;
	font-weight: 600;
	position:relative;
	padding-top:15px;
	padding-bottom: 5px;
}
.amsterdam .card ul .word2{
	color:#ae9b9e;
	font-size: 10px;
	font-weight: 600;
	position:relative;
}
.amsterdam .card ul li i{
	position:absolute;
	font-size:90px;
	color:#dfd7d3;
	margin: -18px 0 20px -30px;
	overflow:hidden;
}
.amsterdam .info{
	width:100%;
	height: 210px;
	background-color: #fbf8f1;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0px 0px 7px 7px;
}
.amsterdam .info li{
	list-style: none;
	text-align: center;
	color:#593442;
}
.amsterdam .info li:first-child{
	padding-top:25px;
}
.amsterdam .info li:last-child{
	color:#b4a3a5;
}
.amsterdam .info ul hr{
	width:110px;
	margin:10px 35px;
	color:#af9d9f;
}

.bottom_right{
	width:980px;
	height:315px;
	float:right;
	margin-top:-360px;
	margin-right: 55px;
}
.bottom_right .posts{
	width:370px;
	height:315px;
	box-sizing: border-box;
	float:left;
	
}
.bottom_right .posts .first_line{
	background-color: #eee9e3;
	width:370px;
	height:53px;
	border-radius:7px 7px 0 0;
}
.bottom_right .posts .recent{
	float:left;
	width:167px;
	height: 53px;
	background-color: #fbf8f1;
	border-radius: 7px 7px 0 0;
}
.bottom_right .posts .recent h3{
	color:#563743;
	font-size: 15px;
	margin:17px 20px 0 20px;
}

.bottom_right .posts .popular{
	float:left;
	width:203px;
	height: 53px;
	background-color: #eee9e3;
	border-radius:0 7px 0 0;
}
.bottom_right .posts .popular li{
	float: left;
	list-style: none;

}
.bottom_right .posts .popular li i{
	color:#a8979a;
	font-size: 20px;
	margin:15px 10px 0 15px;
	
}
.bottom_right .posts .popular li h3{
	color:#a8979a;
	font-size: 15px;
	margin-top:17px;
}
.bottom_right .posts .post1{
	width:370px;
	height: 131px;
	box-sizing: border-box;
	background-color: #fbf8f1;
	padding-top:30px;
}
.bottom_right .posts .post1 .image{
	float:left;
	margin-left:30px;
}
.bottom_right .posts .post1 .text1{
	float:left;
	box-sizing: border-box;
	width:260px;
	height: 131px;
}
.bottom_right .posts .post1 .text1 h3{
	font-size: 17px;
	color:#563743;
	margin:10px 0 5px 16px;
}
.bottom_right .posts .post1 .text1 p{
	font-size: 15px;
	color:#baaaab;
	margin-left:16px;
}
.bottom_right .posts .post2{
	width:370px;
	height: 131px;
	box-sizing: border-box;
	background-color: #fbf8f1;
	border-radius: 0 0 7px 7px;
}

.bottom_right .posts .post2 .image{
	float:left;
	margin-left:30px;
}
.bottom_right .posts .post2 .text2{
	float:left;
	box-sizing: border-box;
	width:260px;
	height: 131px;

}
.bottom_right .posts .post2 .text2 h3{
	font-size: 17px;
	color:#563743;
	margin:10px 0 5px 16px;
}
.bottom_right .posts .post2 .text2 p{
	font-size: 15px;
	color:#baaaab;
	margin-left:16px;
}
.bottom_right .calendar{
	width:570px;
	height:315px;
	background-color: #fbf8f1;
	float:right;
	border-radius: 7px;
}
.bottom_right .calendar .image{
	width:285px;
	height:315px;
	background-image: url(../beach2.jpg);
	background-size: cover;
	border-radius: 7px 0 0 7px;
	margin:0;
	float:left;
}
.bottom_right .calendar .image .space{
	width:285px;
	height:245px;
}
.bottom_right .calendar .image .date{
	width:245px;
	height:38px;
	border-radius: 25px;
	background-color: #664547;
	opacity:0.7;
	margin-left:20px;
	margin-top:15px;
}
.bottom_right .calendar .image .date ul{
	list-style: none;
}
.bottom_right .calendar .image .date ul li{
	float:left;
}
.bottom_right .calendar .image .date ul .icon1{
	margin:10px 0 0 15px;
	color:#ebe6e7;
}
.bottom_right .calendar .image .date ul .icon2{
	margin:10px 15px 0 0;
	float:right;
	color:#ebe6e7;
}
.bottom_right .calendar .image .date ul h3{
	margin:10px 50px 0 50px;
	font-size:15px;
	color:#ebe6e7;
}
.bottom_right .calendar .numbers{
	width:285px;
	height:315px;
	border-radius:0 7px 7px 0; 
	float:left;
}
.bottom_right .calendar .numbers .month{
	width:285px;
	height:53px;
	background-color: #e15868;
	border-radius:0 7px 0 0; 
}
.bottom_right .calendar .numbers .month ul{
	list-style: none;
}
.bottom_right .calendar .numbers .month ul li{
	float:left;
}
.bottom_right .calendar .numbers .month ul .icon1{
	margin:20px 0 0 20px;
	color:#ebe6e7;
}
.bottom_right .calendar .numbers .month ul .icon2{
	margin:20px 20px 0 0;
	float:right;
	color:#ebe6e7;
}
.bottom_right .calendar .numbers .month ul h3{
	margin:20px 75px 0 75px;
	font-size:15px;
	color:#ebe6e7;
}
.bottom_right .calendar .numbers .days{
	width:285px;
	height:262px;
}
.bottom_right .calendar .numbers .days .week{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week ul{
	margin-left:20px;
}
.bottom_right .calendar .numbers .days .week li{
	list-style: none;
	float:left;
	font-size: 11px;
	padding: 20px 14px 0 0px;
	color:#b4a3a5;
}
.bottom_right .calendar .numbers .days .week ul .color{
	color:#f6c681;
}
.bottom_right .calendar .numbers .days .week2{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week2 ul{
	margin-left:6px;
}
.bottom_right .calendar .numbers .days .week2 li{
	list-style: none;
	float:left;
	font-size: 12px;
	padding: 15px 15px 0 15px;

}
.bottom_right .calendar .numbers .days .week2 li:first-child{
	color:#af9d9f;
}

.bottom_right .calendar .numbers .days .week3{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week3 ul{
	margin-left:12px;
}
.bottom_right .calendar .numbers .days .week3 li{
	list-style: none;
	float:left;
	font-size: 12px;
	padding: 15px 13.5px 0 13.5px;

}
.bottom_right .calendar .numbers .days .week4{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week4 ul{
	margin-left:20px;
}
.bottom_right .calendar .numbers .days .week4 li{
	list-style: none;
	float:left;
	font-size: 12px;
	padding: 15px 24px 0 0px;

}
.bottom_right .calendar .numbers .days .week4 ul .color{
	width:33px;
	height:33px;
	background-color: #51bf87;
	border-radius: 50%;
	margin-top:4px;
	margin-left:-10px;
	margin-right:16px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left:10px;
	color:white;
}
.bottom_right .calendar .numbers .days .week5{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week5 ul{
	margin-left:20px;
}
.bottom_right .calendar .numbers .days .week5 li{
	list-style: none;
	float:left;
	font-size: 12px;
	padding: 15px 24px 0 0px;

}
.bottom_right .calendar .numbers .days .week6{
	width:285px;
	height:43.5px;
}
.bottom_right .calendar .numbers .days .week6 ul{
	margin-left:20px;
}
.bottom_right .calendar .numbers .days .week6 li{
	list-style: none;
	float:left;
	font-size: 12px;
	padding: 15px 27px 0 0px;

}
.bottom_right .calendar .numbers .days .week6 ul .color{
	color:#af9d9f;
}